#First Project with Git
After setting this up do the other SDCS projects
- Review coursework twice
- Try to be a week or two ahead
- code every day
- workout every day
- play and create music every day
  **BE BETTER EVERY DAY**
